/*--------------------------------

nucleo-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */
@font-face {
	font-family: "nucleo-icons";
	src: url("/assets/admin/fonts/nucleo-icons.eot");
	// src: url("/assets/admin/fonts/nucleo-icons.eot") format("embedded-opentype"),
	// 	url("/assets/admin/fonts/nucleo-icons.woff2?#iefix&v=4.4.0") format("woff2"),
	// 	url("/assets/admin/fonts/nucleo-icons.woff?#iefix&v=4.4.0") format("woff"),
	// 	url("/assets/admin/fonts/nucleo-icons.ttf?#iefix&v=4.4.0");
	font-weight: normal;	
	font-style: normal;
}
