.support-ticket-laucher {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 60px;
    height: 60px;
    background-color: #208ceb;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    padding: 7px;
    cursor: pointer;
    z-index: 22071992;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 1px 10px #dfdfdf;

    .support-ticket-panel {
        position: fixed;
        bottom: 90px;
        right: 20px;
        min-height: 100px;
        width: 400px;
        background-color: #fff;
        border-radius: 8px;
        z-index: 22071992;
        border: 1px solid grey;
        cursor: auto;

        .support-ticket-panel-header {
            padding: 15px;
            font-size: 20px;
            background-color: #198e1e;
            color: #fff;
            box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
            border-radius: 8px 8px 0 0;
        }

        .msger-chat {
            flex: 1;
            overflow-y: auto;
            padding: 10px;
            max-height: 300px;

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                background: #ddd;
            }

            &::-webkit-scrollbar-thumb {
                background: #bdbdbd;
            }

            .msg {
                display: flex;
                align-items: flex-end;
                margin-bottom: 10px;

                &:last-of-type {
                    margin: 0;
                }
            }

            .left-msg {
                .msg-bubble {
                    border-bottom-left-radius: 0;
                }
            } 

            .right-msg {
                flex-direction: row-reverse;

                .msg-bubble {
                    background: #579ffb;
                    color: #fff;
                    border-bottom-right-radius: 0;
                }

                .msg-img {
                    margin: 0 0 0 10px;
                }
            }

            .msg-img {
                width: 50px;
                height: 50px;
                margin-right: 10px;
                background: #ddd;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
            }

            .msg-bubble {
                max-width: 80%;
                padding: 10px;
                border-radius: 15px;
                background: #ececec;

                .msg-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                } 
                .msg-text {
                    color: black;
                    font-size: 14px;
                    text-align: left;
                }
                .msg-info-name {
                    margin-right: 10px;
                    font-weight: bold;
                    font-size: 15px;
                    color: black;
                }
                  .msg-info-time {
                    font-size: 0.85em;
                    font-size: 13px;
                    color: black;
                }

            }
        }

        .msger-inputarea {
            display: flex;
            padding: 10px;
            border-top: 2px solid #ddd;
            background: #eee;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;

            .msger-input {
                flex: 1;
                resize: none;
                padding: 5px 10px;
                height: 40px;
                font-size: 14px;
                border: 1px solid rgb(155, 154, 154);
                border-radius: 4px;
            }
            .msger-send-btn {
                margin-left: 10px;
                background: #198e1e;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
                transition: background 0.23s;
                border: 1px solid #198e1e;
                border-radius: 5px;
                font-size: 14px;
                width: 20%;

                &:hover {
                    background: rgb(0, 180, 50);
                }
            }
        }
    }
}


  