@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

.login-container{
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  font-family: "work sans";
  height: 100vh;
}

#loginform{
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: auto;
    margin-top: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 75%;
    background-color: #FFFFFF;
    border-radius: 25px;
    h2{
      color: black;
    }
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 10px 0;
  margin: 0;
  font-size: 2rem;
}

.rowinp{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  max-width: 100%;
  
}

.rowinp input{
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.rowinp input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
   outline: none;
}

.rowinp input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.rowinp input:hover::-webkit-input-placeholder,
.rowinp input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.rowinp label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.rowinp button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.rowinp button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}

#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  .fab {
    font-size: 30px;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
  }

  .iconfacebook {
    background-color: blue;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .icongoogle {
    background-color: red;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
   text-align: center;
//    padding-top: 2rem;
//    margin-top: 1.5rem;
}


